{% if view=="subs" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}item  {{mod}}">
			<input class="{{prefix}}control  {{mod}}" type="email" placeholder="Ваш e-mail">
			<button type="button" class="{{prefix}}btn  {{mod}}"></button>
		</div>
	</form>
{% endif %}
{% if view=="search" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  {{group}}">
		<div class="{{prefix}}item  {{mod}}">
			<button type="button" class="{{prefix}}btn  {{mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:'icon-search'} %}
			</button>
			<input class="{{prefix}}control  {{mod}}" id="title-search-input" type="text" name="q" size="40" maxlength="50" placeholder="Поиск по каталогу" autocomplete="off">
		</div>
	</form>
{% endif %}