<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{# <script src="{{path.js}}/jquery-3.2.1.min.js" ></script> #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

{# {% if view == "modal" %} #}
{# <script src="{{path.js}}/modals.js" ></script> #}
{# {% else %} #}
<script src="{{path.js}}/jquery.imagezoom.js?v=3687" ></script>
<script src="{{path.js}}/jquery.magnify.js?v=3687" ></script>
<script src="{{path.js}}/jquery.magnific-popup.min.js?v=3687" ></script>
{# <script src="{{path.js}}/script.js" ></script> #}
<script src="{{path.js}}/document-ready.js" ></script>
{# {% endif %} #}
{# 
<script src="{{path.js}}/svg4everybody.min.js" ></script>
<script>
svg4everybody();
document.createElement("picture");
</script>  #}
{% if custom == "true" %}
<script>
    $('[data-magnify-src]').magnify();
	$('[data-toggle="popover"]').popover({
		template:	'<div class="popover  popover__panel" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'
	});
	$('[data-toggle="popover"]').on('show.bs.popover', function () {
	        $('[data-toggle="popover"]').popover('hide');
	        $('[data-toggle="popover"]').removeClass('is--show');
	 		$(this).addClass('is--show');
	}); 
	$('.modal').on('show.bs.modal', function (e) {
	    $('[data-toggle="popover"]').popover('hide');		
	});
	$(document.body).on('click', function(event) {
		if($(event.target).closest('[data-toggle="popover"]').length == 0 && $(event.target).closest('.popover__panel').length == 0){
	        $('[data-toggle="popover"]').popover('hide');
	 		$('[data-toggle="popover"]').removeClass('is--show');
	        
		}		
	});	
    var catalog_btn     = $("[data-btn-catalog]");
    var catalog_block   = $("[data-catalog-block]");
    var catalog_lay    	= $(".catalogmenu__lay");
    var catalog_close   = $(".catalogmenu__top__close");
    var menu_btn      	= $("[data-btn-menu]");
    var menu_block    	= $("[data-menu-block]");
    var menu_lay    	= $(".sitemenu__lay");
    var menu_close    	= $(".sitemenu__top__close");

    catalog_btn.on('click',function(e) {       
        e.preventDefault();
        menu_block.removeClass("show");
        catalog_block.addClass("show");
        return false;
    });
    catalog_lay.on('click',function(e) {
        catalog_block.removeClass("show");
    });
   	catalog_close.on('click',function(e) {
        catalog_block.removeClass("show");
    });

    menu_btn.on('click',function(e) {
        e.preventDefault();
        catalog_block.removeClass("show");
        menu_block.addClass("show");
        return false;
    });
   	menu_lay.on('click',function(e) {
        menu_block.removeClass("show");
    });
   	menu_close.on('click',function(e) {
        menu_block.removeClass("show");
    });

    var filter_btn      = $("[data-filter-btn]");
    var filter_block    = $("[data-filter-block]");
    var filter_close    = $("[data-filter-close]");
    filter_btn.on('click',function() {       
        filter_block.toggleClass("is--show");
        $('html').toggleClass("is--show");
    });
    filter_close.on('click',function() {       
        filter_block.removeClass("is--show");
        $('html').removeClass("is--show");
    });
    $(document.body).on('click', function(event) {
        if($(event.target).closest('[data-filter-block]').length == 0 && $(event.target).closest('[data-filter-btn]').length == 0){ 
            filter_block.removeClass("is--show");
            $('html').removeClass("is--show");
        }       
    }); 

    $("[data-select]").select2({
        minimumResultsForSearch: -1,
        //dropdownCssClass: $(this).attr('data-drop-class'),
    });
    $("[data-select-filter]").select2({
        minimumResultsForSearch: -1,
        dropdownCssClass: 'form__item is--filter-sort',
        //dropdownParent: "[data-select-filter]",
    });
    $("[data-filter-slider-ul]").each(function(){
        var _this = this;
        $(this).slider({
            range: true,
            min: parseInt($(_this).attr("data-from")),
            max: parseInt($(_this).attr("data-to")),
            values: [parseInt($(_this).attr("data-minval")), parseInt($(_this).attr("data-maxval"))],
            step: parseFloat($(_this).attr("data-step")),
            slide: function( event, ui ) {
                $(_this).parents("[data-filter-slider]").find("input[data-input-from]").val(ui.values[0]);
                $(_this).parents("[data-filter-slider]").find("input[data-input-to]").val(ui.values[1]);
                //smartFilter.keyup($(_this).parents(".filter__slider").find("input#from")[0]);
                //smartFilter.keyup($(_this).parents(".filter__slider").find("input#to")[0]);
            }
        });
    });
</script>
{% endif %}