{% if view == "index-slider" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}" style="background-image: url({{value.bg}})">
		<div class="{{prefix}}preview-wrap  {{mod}}">
			<div class="{{prefix}}preview  {{mod}}">
				<img src="{{value.img}}" class="img-fluid" alt="">
			</div>
		</div>
		<div class="{{prefix}}bg  {{mod}}" style="background-image: url({{value.bg_card}})"></div>
		<div class="{{prefix}}desc  {{mod}}">
			{% for t in value.text %}
				<p>{{t.name}}</p>
			{% endfor %}
		</div>
		<div class="{{prefix}}btn  {{mod}}">
			{% include "../button/btn.twig" with {
				view:'tpl',
				tag:'a',
				href:value.link,
				prefix:'btn__',
				mod:'is--white  is--lg',
				name: 'Узнать подробнее',
			} %}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == "catalog-banner" %}
	{% for value in list %}	
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}  {{value.mod}}">
		<p class="{{prefix}}heading  {{mod}}" {% if value.color %}style="color: {{value.color}}"{% endif %}>{{value.name}}</p>
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-fluid" alt="">
		</picture>
	</a>
	{% endfor %}
{% endif %}
{% if view == "catalog-cat" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<ul class="{{prefix}}nav  {{mod}}">
			<li class="{{prefix}}nav-item  is--title  {{mod}}">
				<a class="{{prefix}}nav-link  {{mod}}" href="{{value.link}}">{{value.name}}</a>
			</li>
			{% for n in value.nav %}
			<li class="{{prefix}}nav-item  {{mod}}">
				<a class="{{prefix}}nav-link  {{mod}}" href="{{n.link}}">{{n.name}}</a>
			</li>				
			{% endfor %}
		</ul>
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-fluid" alt="">
		</picture>
	</div>
	{% endfor %}
{% endif %}
{% if view == "catalog-card" %}
	{% for value in list %}	
	<div class="{{value.group}}">
		{% if value.view != "banner" %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}bg  {{mod}}" style="background-image: url({{value.bg}})"></div>
			{% if value.label %}
			<p class="{{prefix}}label  {{mod}}" style="background-color: {{value.label_color}}">
				{{value.label}}
			</p>
			{% endif %}
			{% if value.compare %}
				<div class="catalog__item__cmp  show  compare__add__btn">
					<span class="catalog__item__cmp__icon">
						{% include "../svg-sprite/svg.twig" with {icon:'icon-compare'} %}
					</span>
					<div class="catalog__item__cmp__select">
						<p class="{{prefix}}compare-title">Выберите модель</p>
						<form class="{{prefix}}compare-form  cmp__form">
							<div class="{{prefix}}compare-select">
								<select name="" class="cmp__select">
									
								</select>
							</div>
							<button class="btn__item">Добавить</button>
						</form>
						<a class="{{prefix}}compare-link" href="">Список cравнения</a>
						<div class="product__cmp__success align-items-center justify-content-center"></div>
					</div>
				</div>

				{# <div class="{{prefix}}compare  dropdown">
					<button type="button" class="{{prefix}}compare-btn  {{mod}} dropdown-toggle" data-toggle="dropdown">
						{% include "../svg-sprite/svg.twig" with {icon:'icon-compare'} %}
					</button>
					<div class="{{prefix}}compare-menu  dropdown-menu">
						<p class="{{prefix}}compare-title">Выберите модель</p>
						<form class="{{prefix}}compare-form  ">
							<div class="{{prefix}}compare-select">
								<select data-select>
									<option>WHEL-3 OC</option>
									<option>WHEL-3 OC</option>
									<option>WHEL-3 OC</option>
								</select>
							</div>
							<button class="btn__item">Добавить</button>
						</form>
          				<a class="{{prefix}}compare-link" href="">Список cравнения</a>
       				</div>
				</div> #}
			{% endif %}
			<a href="{{value.link}}">
				<picture class="{{prefix}}preview  {{mod}}  is--hover-photo">
					<img src="{{value.img}}" class="img-fluid  is--base" alt="">
					<img src="http://www.dev.timberk.ru/upload/resize_cache/iblock/397/700_700_0/39765947e02b5ce3520f75c2b995cbb2.png" class="img-fluid  is--hover" alt="">
				</picture>
			</a>
			<div class="{{prefix}}group  {{mod}}">
				<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
				{% if value.note %}
				<p class="{{prefix}}note  {{mod}}">{{value.note}}</p>
				{% endif %}
				{% include "../button/btn.twig" with {
					view:'tpl',
					tag:'a',
					href:value.link,
					prefix:'btn__',
					mod:'',
					name: 'Подробнее',
				} %}
			</div>
		</div>
		{% else %}
			<div class="{{prefix}}item  {{value.mod}}" style="background-image: url({{value.bg}})">
				<p class="{{prefix}}heading  {{value.mod}}">{{value.name}}</p>
				<p class="{{prefix}}note  {{value.mod}}">{{value.note}}</p>
				<picture class="{{prefix}}preview  {{value.mod}}">
					<img src="{{value.img}}" class="img-fluid" alt="">
				</picture>
			</div>
		{% endif %}
	</div>
	{% endfor %}
{% endif %}
{% if view == "catalog-nav" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<ul class="{{prefix}}nav  {{mod}}">
			<li class="{{prefix}}nav-item  is--title  {{mod}}">
				{{value.name}}
			</li>
			{% for n in value.nav %}
			<li class="{{prefix}}nav-item  {{mod}}">
				<a class="{{prefix}}nav-link  {{mod}}" href="{{n.link}}">{{n.name}}</a>
			</li>				
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
{% endif %}
{% if view == "catalog-item-note" %}
	<div class="{{prefix}}item  {{mod}}">
		{% for value in desc %}	
			<div class="{{prefix}}note  {{mod}}">
				<h3>{{value.name}}</h3>
				<ul>
					{% for li in value.ul %}
					<li>{{li.name}}</li>				
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endif %}
{% if view == "catalog-slider" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" {% if value.zoom %} data-magnify-src="{{value.img}}"{% endif %} class="img-fluid" alt="">
		</picture>
		{% if value.name %}
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		{% endif %}
	</div>
	{% endfor %}
{% endif %}
{% if view == "articles" %}
	{% for value in list %}	
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}  {{value.group}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-fluid" alt="">
		</picture>
		<div class="{{prefix}}group  {{mod}}">
			<h5 class="{{prefix}}heading  {{mod}}">{{value.name}}</h5>
			<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
		</div>
	</a>
	{% endfor %}
{% endif %}
{% if view == "links" %}
	{% for value in list %}	
	<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}preview  {{mod}}">
			{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
		</p>
		<h5 class="{{prefix}}heading  {{mod}}">{{value.name}}</h5>
	</a>
	{% endfor %}
{% endif %}
{% if view == "banner" %}
	<div class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}group  {{mod}}">
			<div class="{{prefix}}preview  {{mod}}">{% include "../svg-sprite/svg.twig" with {icon:'banner-logo'} %}</div>
			<p class="{{prefix}}heading  {{mod}}">{{name}}</p>
		</div>
		<div class="{{prefix}}bg  {{mod}}"><img src="{{img}}" class="img-fluid" alt="{{name}}"></div>
	</div>
{% endif %}
{% if view == "banner_old" %}
	<picture class="{{prefix}}item  {{mod}}">
		<img src="{{img}}" class="img-fluid" alt="">
	</picture>
{% endif %}
{% if view == "404" %}
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{img}}" class="img-fluid" alt="">
		</picture>
		<h1 class="{{prefix}}heading  {{mod}}">{{name}}</h1>
		<div class="{{prefix}}note  {{mod}}">{{note}}</div>
	</div>
{% endif %}
{% if view == "contacts" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		<div class="{{prefix}}note  {{mod}}">
			<p><a href="tel:{{value.tel}}">{{value.tel}}</a></p>
			<p><a href="//{{value.link}}">{{value.link}}</a></p>
		</div>
		{% include "../button/btn.twig" with {
			view:'tpl',
			tag:'a',
			href:value.link,
			prefix:'btn__',
			mod:'is--second  is--lg  is--white',
			name: value.btn,
		} %}
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-fluid" alt="">
		</picture>
	</div>
	{% endfor %}
{% endif %}
{% if view == "shop" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-fluid" alt="">
		</picture>
		{% include "../button/btn.twig" with {
			view:'tpl',
			tag:'a',
			href:value.link,
			prefix:'btn__',
			mod:'is--second  is--lg',
			name: value.btn,
		} %}
	</div>
	{% endfor %}
{% endif %}