<ul class="{{prefix}}list  {{mod}}">
	{% for value in bread %}	
		{% if value.link != null %}
		<li class="{{prefix}}item">
			<a href="{{value.link}}" class="{{prefix}}link">{{value.name}}</a>
		</li>
		{% else %}
		<li class="{{prefix}}item  is--active">{{value.name}}</li>
		{% endif %}
	{% endfor %}
</ul>