{% if view == "catalog" %}
	<section class="{{content_prefix}}content  {{content_group}}" >
		<div class="{{content_prefix}}container container  {{content_group}}">
			{% include "../common/card/card.twig" with {
                view: 	banner_view,
				prefix:	"card__", 
				mod:  	banner_mod, 
                img: 	banner_img, 
            } %}
            {% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}
			<div class="page-header__panel  {{heading_group}}">
	            {% include "../common/page-header/elem.twig" with {
					prefix:"page-header__", 
					mod:heading_mod,
					attr:heading_attr, 
					level:heading_level, 
					heading:heading
				} %}
				{% include "../common/button/btn.twig" with {
					view:'tpl',
					tag:'a',
					href:'#',
					prefix:'icon__',
					mod:'is--compare',
					icon:'icon-compare',
					title: 'Добавить к сравнению',
					count: '2',
				} %}
			</div>

			{% include "../common/form/form.twig" with {
				view: search_view,
				prefix:"form__", 
				mod:  search_mod,
			} %}


			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
				{% include "../common/card/card.twig" with {
					view: card_view,
					prefix:"card__", 
					mod:  card_mod, 
					list: card_list
				} %}
			</div>
		</div>
	</section>
{% endif %}