<meta charset="utf-8">	
<title>{{title}} | {{contacts.domain}}</title>
<meta name="description" content="{{description}}"/>
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="{{path.css}}/style.css" rel="stylesheet">
<link href="{{path.css}}/modal.css" rel="stylesheet">