{% for value in list %}
<li class="{{prefix}}aside-nav-item {% if value.sublist %}dropdown{% endif %}  {{value.mod}}   {% if value.link == active %}is--active{% endif %}">
	<a {% if value.sublist %}data-toggle="collapse" href="#page-{{value.id}}"{% else %}href="{{value.link}}"{% endif %} class="{{prefix}}aside-nav-link  {{value.mod}}">
		{% if value.icon %}
			<div class="{{prefix}}aside-nav-icon">
				{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
			</div>
		{% endif %}
		<span>{{value.name}}</span>		
	</a>  
	{% if value.sublist %}
	<div id="page-{{value.id}}" class="collapse  {% if collapse == 'active' %}in{% endif %}">		
		<ul class="{{prefix}}aside-nav-sublist">
		    {% for v in value.sublist %}
			<li class="{{prefix}}aside-nav-sublist-item  {{v.mod}}">
				<a href="{{v.link}}" class="{{prefix}}aside-nav-sublist-link  {% if v.link == active %}is--active{% endif %}"><span>{{v.name}}</span>
				</a>
			</li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
</li>
{% endfor %}